.mainbar-top {
  z-index: 999;
}

.navbar-custom {
  background-color: #15294b;
}

.main-title {
  color: #4686ff;
  font-weight: 800;
}

.select-container {
  background: transparent;
  border: none;
  color: #fff;
}

.text-small {
  font-size: 0.7em;
  font-weight: 600;
}

.icon-index {
  z-index: -1;
}

.select-container:focus {
  border: none;
}

.select-container > option {
  background-color: #15294b;
}
.sidebar-container {
  width: 5em;
  height: calc(100vh - 131px);
  z-index: 2;
}

.toggle-container {
  position: absolute;
  z-index: 1;
}

.toggle-close {
  transform: translateY(-150%);
  transition: all 0.4s;
}
.toggle-open {
  transform: translateY(0);
  transition: all 0.7s;
}
