* {
  margin: 0;
}

body {
  background-color: #e0e6f2;
}

.dark-bg {
  background-color: #15294b;
}

.light-bg {
  background-color: #e0e6f2;
}

/* navbar color : #15294B */
/* Home bg : #F2F6FF */
/* title color: #54A5FF */
/* modules bg color: #E0E6F2 */
